<div class="container">
  <table class="table">
    <caption class="table--caption">
      {{ table.title }}
      <span class="table--caption--count">
        {{ table.data.length }} ({{ table.itemsName }})
      </span>
    </caption>
    <thead class="table--columns">
      <tr>
        <th
          *ngFor="let column of table.headers;"
          class="table--columns--column">
          {{ column }}
        </th>
      </tr>
    </thead>
    <tbody class="table--rows">
      <tr
        *ngFor="let items of data; let idx = index;"
        class="table--rows--row">
        <td
          *ngFor="let item of items;"
          class="table--rows--row--item">
          <span
            *ngIf="!item.isAction"
            [ngClass]="item.tag ? 'table--rows--row--item__tag table--rows--row--item__tag__' + item.tag : ''">
            {{ item.value }}
          </span>
          <app-button
            *ngIf="item.isAction"
            [buttonTittle]="item.value"
            buttonType="small-secondary"
            (onClick)="onAction(idx)">
          </app-button>
        </td>
      </tr>
    </tbody>
    <tfoot class="table--footer">
      <tr>
        <td class="table--footer--pagination-container" colspan="4">
          <ul class="table--footer--pagination-container--pagination">
            <li *ngFor="let _ of Array(numberOfPages) let i = index;" [attr.data-index]="i">
              <a
                class="table--footer--pagination-container--pagination--item"
                [ngClass]="i + 1 === startPagination ? 'active' : ''"
                (click)="onBoardPagination(i + 1)"
              >{{ i + 1 }}</a>
            </li>
          </ul>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
