$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;

.body-select {
  background: $gradient;
  border-radius: 0.8rem;
}

.select {
  border-radius: 0.8rem;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 18rem;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  &--option {
    color: inherit;
    background-color: $option;
  }

  &:focus {
    outline: none;
  }
}
