<p class="forecast--location">{{ forecastData.location }}</p>
<div class="display--flex">
  <div class="forecast--chart-container">
    <canvas id="forecast-data">{{ chart }}</canvas>
  </div>
</div>

<div class="display--flex margin__top--5 margin__bottom--5">
  <div class="pagination margin--auto">
    <a
      *ngFor="let test of tests"
      [ngClass]="Number(forecastData.id) === Number(test.testCase.replace(rex, '')) ? 'active' : ''"
      (click)="onPagination(Number(test.testCase.replace(rex, '')))">
      {{ test.testCase.replace(rex, '') }}</a>
  </div>
</div>
