/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

p, div {
  font-size: 1.6rem;
}

.display {
  &--block {
    display: block;
  }

  &--flex {
    display: flex;
  }
}

.margin {
  &--auto {
    margin: auto;
  }

  &__top {
    &--2 {
      margin-top: 2rem;
    }

    &--5 {
      margin-top: 5rem;
    }
  }

  &__bottom {
    &--5 {
      margin-bottom: 5rem;
    }
  }
}

/*
Design from https://codepen.io/raubaca/pen/bGWmZje
 */

$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;

.body-select {
  background: $gradient;
}

/* <select> styles */
.select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 20em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, $glass-icon 3em, $glass 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  &--option {
    color: inherit;
    background-color: $option;
  }

  /* Remove focus outline */
  &:focus {
    outline: none;
  }
}
