* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', serif;
}

p, div, span, caption {
  font-size: 1.6rem;
}

.display {
  &--block {
    display: block;
  }

  &--flex {
    display: flex;
  }
}

.margin {
  &--auto {
    margin: auto;
  }

  &__top {
    &--2 {
      margin-top: 2rem;
    }

    &--5 {
      margin-top: 5rem;
    }
  }

  &__bottom {
    &--5 {
      margin-bottom: 5rem;
    }
  }
}
