* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', serif;
}

p, div, span, caption {
  font-size: 1.6rem;
}

.switch-user {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;

  &--select {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }

  &--title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
